ceci est un fichier css

<<<<<<< HEAD
.copyright
{
	color: red;
	background-color: purple;
=======
.cssMenu
{
	text-color: grey;
	background-color: green;
>>>>>>> c94d2e4 (ajout de couleurs au menu)
}